# Задача

Изучить данные.

# Импорты

In [13]:
import re

import pandas as pd

# Загрузка данных

In [2]:
data_path = '../data/train.csv'

df = pd.read_csv(data_path)

# Изучение

In [12]:
pd.set_option('display.max_colwidth', 100)

df.sample(10)

,text,label,text_length
11855,"Хз чего он будет делать с этим потом. У него же вроде там читаемый текст парсился, а это явно косяк",0,99
3581,"Ток вот мне это нифига не помогает, все равно шахматка(",1,55
5060,"Ну вот я юзал ORM Алхимии для своего бота, не написал ни строчки чистого SQL. Недоумеваю что в O...",0,107
8432,че тут непонятного? при явной корелляции результаты будут предсказывать заранее ответы людей,1,93
6332,"те кто книгу за 2к берут, точно не бомжи)",1,41
1133,"О, когда разбогатеешь на автоторговле - отвалишь бабосов за помощь?",0,67
10409,"Ну не совсем. Есть там ещё, что можно включить в модель из значимого. Говорю чисто из личного оп...",1,131
7853,"много разных строк может быть, нужно уметь читать код",0,53
7494,"Я не про саму функцию, которая внутри ensure_future говорила...",0,63
2877,"Здесь можно согласиться. Но ставить в один ряд химиков, физиков и экономистов - это, как по мне,...",1,106

### Распределение классов

In [5]:
df['label'].value_counts(normalize=True)

1    0.555063
0    0.444937
Name: label, dtype: float64

Почти поровну.

### Тексты

In [7]:
df['text_length'] = df['text'].apply(lambda x: len(x))

In [8]:
df['text_length'].describe()

count    12404.000000
mean       100.786359
std         78.801220
min         25.000000
25%         61.000000
50%         79.000000
75%        114.000000
max       2434.000000
Name: text_length, dtype: float64

In [9]:
df.groupby(by='label')['text_length'].describe()

        count        mean        std   min   25%   50%    75%     max
label
0      5519.0  109.537779  92.054401  30.0  63.0  84.0  124.0  2434.0
1      6885.0   93.771242  65.458823  25.0  59.0  75.0  107.0  1184.0

Тексты по первому классу чуть короче.

In [16]:
df['words_count'] = df['text'].apply(lambda x: len(x.split()))

In [17]:
df.groupby(by='label')['words_count'].describe()

        count       mean        std  min   25%   50%   75%    max
label
0      5519.0  17.073202  10.772487  9.0  10.0  14.0  20.0  139.0
1      6885.0  15.709368   9.834536  9.0  10.0  13.0  18.0  193.0

И "слов" в первом классе в среднем чуть меньше.